@use "./Variables" as *;

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}
//----------Navbar......
.header-logo {
  max-height: 70px;
}

.bg-primary {
  background-color: $primary-color;
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
